<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/>
	</head>
	<body>
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>

		<header id="yo" class="Header">
			<figure id="trabajo" class="Header-imageContainer">
				<img src="avatar.jpg" alt="Avatar personal" class="Header-image"/>
				<figcaption class="Header-imageDescription">
					<a class="Header-link" href="http://twitter.com/adrian_GIYF" target="_black">@adrian_GIYF</a>
				</figcaption>
				<p class="Header-name">Adrián Antón</p>

			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title">Perfil</h2>
			<p class="Profile-description">
				Hola! Si llegaste hasta aqui puedes ver mi portafolio y contactarme
			</p>
			<a class="Profile-link" href="http://twitter.com/adrian_GIYF" target="_black">@adrian_GIYF</a>
			<a class="Profile-link" href="https://www.facebook.com/adrian.anton.7543" target="_black">Adrián Antón</a>
			<a class="Profile-link" href="https://github.com/adanto" target="_black">adanto</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title">Mi trabajo</h2>
			<article class="Work-item">
				<figure Class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption class="Work-description">
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure Class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption class="Work-description">
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure Class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption class="Work-description">
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure Class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption class="Work-description">
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure Class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption class="Work-description">
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmig ponte en contacto con este formulario</p>
			<form class="Footer-form">
				<input class="Footer-formImput" type="text" placeholder="Nombre"/>
				<input class="Footer-formImput" type="email" placeholder="Email"/>
				<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
				<button class="Footer-button" type="submit"> Contactarme </button>
			</form>
		</footer>
	</body>
</html>
