<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
	</head>
	<body>
		<header id="yo" class="header">
			<nav>
				<ul>
					<li>
						<a href="#yo">Yo</a>
					</li>
					<li>
						<a href="#perfil">Perfil</a>
					</li>
					<li>
						<a href="#trabajo">Trabajo</a>
					</li>
					<li>
						<a href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure id="trabajo">
				<img src="avatar.jpg" alt="Avatar personal"/>
				<figcaption>
					<a href="http://twitter.com/adrian_GIYF" target="_black">@adrian_GIYF</a>
				</figcaption>
				<p>Adrián Antón</p>

			</figure>
		</header>
		<section id="perfil">
			<h2>Perfil</h2>
			<p>
				Hola! Si llegaste hasta aqui puedes ver mi portafolio y contactarme
			</p>
			<a href="http://twitter.com/adrian_GIYF" target="_black">@adrian_GIYF</a>
			<a href="https://www.facebook.com/adrian.anton.7543" target="_black">Adrián Antón</a>
			<a href="https://github.com/adanto" target="_black">adanto</a>
		</section>
		<section>
			<h2>Mi trabajo</h2>
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption>
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption>
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption>
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption>
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Esto es la descripcion">
					<figcaption>
						Website de mejorando.la
					</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto">
			<h3>Contacto</h3>
			<p>Si tienes una sugerencia o quieres trabajar conmig ponte en contacto con este formulario</p>
			<form>
				<input type="text" placeholder="Nombre"/>
				<input type="email" placeholder="Email"/>
				<textarea placeholder="Motivo"></textarea>
				<button type="submit"> Contactarme </button>
			</form>
		</footer>
	</body>
</html>
